body, html {
    height: 100%;
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}
/*Header*/
header {
    border-radius: 8px;
    background: rgba(120,120,120,1);
    background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -o-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: linear-gradient(to bottom, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#454444', GradientType=0 );
    color: white;
    height: 120px;
    margin-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #C50000;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px -5px #C50000;
    -moz-box-shadow: 5px 5px 5px -5px #C50000;
}

#indexlink {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50px;
}

#indexlink:visited, .indexlink:link {
    text-decoration: none;
    color: white;
}

#indexlink:hover {
    color: black;
    cursor: pointer;
}

#logo {
    margin-top: 15px;
    float: left;
    width: 120px;
    height: 90px;
}

.headercontent {
    color: white;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.profile {
    margin-top: 20px;
    float: right;
    border: solid;
    border-radius: 5px;
    border-color: white;
    display: block;
    min-width: 225px;
}

#loginlink{
    margin-top: 50px;
    float: right;
    display: block;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#loginlink:visited, #loginlink:link {
    text-decoration: none;
    color: white;
}

#loginlink:hover {
    color: black;
    cursor: pointer;
}

#nav {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.menu {
    position: relative;
    width: 150px;
    right: 40px;
}

#nav>div.menu {
    float: left;
    z-index: 3;
}

#nav div.submenu a {
    background: rgba(120,120,120,1);
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    width: 100px;
}

#nav div.menu ul .submenu:first-child {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 5px;
}

#nav div.menu ul .submenu:nth-child(2) {
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav div.menu ul .submenu:nth-child(3) {
    border-left: solid;
    border-right: solid;
    border-top: solid;
}

#nav div.menu ul div.submenu:last-child {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-top: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#nav div.submenu a:hover {
    color: black;
}

#nav div.menu ul {
    display: none;
    position: absolute;
    font-size: 15px;
    z-index: 2;
}

#nav div.menu:hover>ul {
    display: block;
}


#dvError {
  display: none;
  color: white;
  background-color: #C50000;
  margin-left: 20px;
  font-size: 16pt;
  font-weight: bold;
}

#error {
  color: white;
  background-color: #C50000;
  margin-left: 20px;
  font-size: 16pt;
  font-weight: bold;
}

/* Content */
.games{
    position: absolute;
}

#add {
  margin: 20px;
  padding: 10px;
  background-color: rgba(120,120,120,1);
  font-weight: bolder;
  font-size: 16pt;
  border-style: solid;
  border-width: 2px;
  border-color: #C50000;
  border-radius: 5px;
}

#login {
    position: relative;
    margin-top: 15%;
    margin-left: 35%;
    text-align: center;
    width: 23%;
    height: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: #C50000;
    padding-left: 10px;
    padding-bottom: 30px;
    background: rgba(120,120,120,1);
    background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -o-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: linear-gradient(to bottom, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#454444', GradientType=0 );
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px -5px #C50000;
    -moz-box-shadow: 10px 10px 10px -5px #C50000;
}

#loginlink2{
    float: right;
    display: block;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#loginlink2:visited, #loginlink2:link {
    text-decoration: none;
    color: white;
}

#loginlink2:hover {
    color: black;
    cursor: pointer;
}

.game{
    margin-left: 20px;
    padding: 10px;
    background: rgba(120,120,120,1);
    background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -o-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    background: linear-gradient(to bottom, rgba(120,120,120,1) 0%, rgba(113,113,113,1) 15%, rgba(106,105,105,1) 29%, rgba(98,98,98,1) 43%, rgba(91,90,90,1) 56%, rgba(84,83,83,1) 70%, rgba(76,75,75,1) 84%, rgba(69,68,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#454444', GradientType=0 );
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #C50000;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px -5px #C50000;
    -moz-box-shadow: 5px 5px 5px -5px #C50000;
    margin-bottom: 20px;
    min-width: 600px;
}

.gameimg{
    margin-top: 15px;
    float: left;
}

.img{
    width: 300px;
    height: 300px;
    border: 1px solid #C50000;
}

.imgdetails{
    width: 600px;
    height: 600px;
    border: 1px solid #C50000;
}

.gamedescription {
    float: left;
    vertical-align: bottom;
    background: rgba(120,120,120,1);
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.link:visited, .link:link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #C50000;
    cursor: pointer;
}

#title{
    margin-left: 20px;
}

.tittletext {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.gameform {
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #C50000;
    border-radius: 5px;
    padding-left: 10px;
    background: rgba(120,120,120,1);
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

#comment{
    position: absolute;
    margin-left: 20px;
}

.titles{
    color: #C50000;
    font-weight: bold;
}

/* Buttons */
.button {
    width: 40px;
    height: 40px;
}

.buttontext {
    border-radius: 5px;
    background-color: #C50000;
    border-color: #C50000;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    float: left;
}

textarea {
    border-radius: 5px;
    border-color: #C50000;
    border-style: inset;
    border-width: 2px;
}

.textinput{
    border-radius: 5px;
    border-color: #C50000;
    border-style: inset;
    border-width: 2px;
}