<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="style.css">
	<title>Game Review</title>
</head>
<header>
	<div class="headercontent">
		<a  href="/"><img id="logo" src="./res/logo.png"></a>
	</div>
	<div class="headercontent">
		<a id="indexlink" href="/">Game Review</a>
	</div>
	<div class="headercontent">
		{% if user_name == "Please login" %}
			<a href="{{access_link}}">Login</a>
		{% else %}
			<div class="profile">
				<ul id="nav">
  	        		<div class="menu">{{user_name}}</br>▼
						<ul>
							<div class="submenu"><a href="/usergames">My games</a></div>
							<div class="submenu"><a href="{{access_link}}">Logout</a></div>
              			</ul>
  	        		</div>
  	      		</ul>
			</div>
		{% endif %}
	</div>
</header>
<body>
	<div class="title">
		<p class="tittletext">{{game.name}}</p>
	</div>
	<div class="gameform">
		Name: </br>{{game.name}}
		</br></br>
		Company: </br>{{game.web}}
		</br></br>
		Web: </br>{{game.web}}
		</br></br>
		Picture Url: </br>{{game.picture}}
		</br></br>
		<a href="/addcomment?id={{game.key.urlsafe()}}"><button class="buttontext">Add comment</button></a>
		</br></br>
	</div>
	{% for comment in comments %}
	<div class="gameform">
		Comment: </br>{{comment.comment}}
		</br></br>
		Played hours: </br>{{comment.numHours}}
		</br></br>
		{% if comment.user == iduser %}
		<a href="/updatecomment?id={{comment.key.urlsafe()}}"><img width="16px" height="16px" title="modify" class="button" src="/res/update.svg"/></a>
		<a href="/removecomment?id={{comment.key.urlsafe()}}"><img width="16px" height="16px" title="delete" class="button" src="/res/remove.svg"/></a>
		{% endif %}
	</div>
	{% endfor %}
</body>
</html>
