header {
    border-radius: 8px;
    background: rgba(226, 240, 248, 1);
    background: -moz-linear-gradient(top, rgba(226, 240, 248, 1) 0%, rgba(196, 224, 241, 1) 15%, rgba(167, 209, 234, 1) 29%, rgba(138, 193, 228, 1) 43%, rgba(108, 178, 221, 1) 57%, rgba(79, 162, 214, 1) 72%, rgba(49, 146, 207, 1) 86%, rgba(20, 131, 200, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(226, 240, 248, 1) 0%, rgba(196, 224, 241, 1) 15%, rgba(167, 209, 234, 1) 29%, rgba(138, 193, 228, 1) 43%, rgba(108, 178, 221, 1) 57%, rgba(79, 162, 214, 1) 72%, rgba(49, 146, 207, 1) 86%, rgba(20, 131, 200, 1) 100%);
    background: -o-linear-gradient(top, rgba(226, 240, 248, 1) 0%, rgba(196, 224, 241, 1) 15%, rgba(167, 209, 234, 1) 29%, rgba(138, 193, 228, 1) 43%, rgba(108, 178, 221, 1) 57%, rgba(79, 162, 214, 1) 72%, rgba(49, 146, 207, 1) 86%, rgba(20, 131, 200, 1) 100%);
    background: -ms-linear-gradient(top, rgba(226, 240, 248, 1) 0%, rgba(196, 224, 241, 1) 15%, rgba(167, 209, 234, 1) 29%, rgba(138, 193, 228, 1) 43%, rgba(108, 178, 221, 1) 57%, rgba(79, 162, 214, 1) 72%, rgba(49, 146, 207, 1) 86%, rgba(20, 131, 200, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 240, 248, 1) 0%, rgba(196, 224, 241, 1) 15%, rgba(167, 209, 234, 1) 29%, rgba(138, 193, 228, 1) 43%, rgba(108, 178, 221, 1) 57%, rgba(79, 162, 214, 1) 72%, rgba(49, 146, 207, 1) 86%, rgba(20, 131, 200, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2f0f8', endColorstr='#1483c8', GradientType=0);
    color: white;
    height: 120px;
    margin-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

#indexlink {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50px;
}

#indexlink:visited, .indexlink:link {
    text-decoration: none;
    color: white;
}

#indexlink:hover {
    color: black;
    cursor: pointer;
}

#logo {
    float: left;
    width: 120px;
    height: 90px;
}

.headercontent {
    color: white;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

body, html {
    height: 100%;
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.profile {
    float: right;
    border: solid;
    border-radius: 5px;
    border-color: white;
    display: block;
    width: 150px;
}

#nav {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.menu {
    position: relative;
    width: 150px;
    right: 40px;
}

#nav>div.menu {
    float: left;
    z-index: 3;
}

#nav div.submenu a {
    background: #4FA3D6;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    width: 100px;
}

#nav div.menu ul .submenu:first-child {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 5px;
}

#nav div.menu ul .submenu:nth-child(2) {
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav div.menu ul .submenu:nth-child(3) {
    border-left: solid;
    border-right: solid;
    border-top: solid;
}

#nav div.menu ul div.submenu:last-child {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-top: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#nav div.submenu a:hover {
    color: black;
}

#nav div.menu ul {
    display: none;
    position: absolute;
    font-size: 15px;
    z-index: 2;
}

#nav div.menu:hover>ul {
    display: block;
}

#dvSeries {
  margin: 20px;
  padding: 20px;
}

#tblSeries {
  background-color: lightgray;
  font-size:18pt;
}

#dvError {
  display: none;
  color: white;
  background-color: red;
  margin: 20px;
  padding: 10px;
  font-size: 16pt;
  font-weight: bold;
}

#dvActions {
  margin: 20px;
  padding: 10px;
  background-color: black;
  font-weight: bolder;
  font-size: 16pt
}

#dvHeader {
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
  color: white;
  background-color: black;
  font-size: 16pt
}

input.button {
  background-color: black;
  color: green
}

/* Hyperlinks */
a {
	color: green;
	text-decoration:none;
}

a:hover {
	color: darkgreen;
	text-decoration:none
}

a:visited {
	color: green;
	text-decoration:none
}

/* Buttons */
.styled-button {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}
