<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css">
		<title>Game Review</title>
	</head>
	{% include '/views/header.html' %}
	<body>
		<div class="title">
			<p class="tittletext">{{game.name}}</p>
		</div>
		<div class="game">
			<div class="gameimg">
				<img class="imgdetails" src="{{game.picture}}">
			</div>
			<div class ="gamedescription">
			<b class="titles">Description: </b></br>{{game.description}}
			</br></br>
			<b class="titles">Company: </b></br>{{game.company}}
			</br></br>
			<b class="titles">Web: </b></br><a class="link" target="_blank" href="{{game.web}}">{{game.web}}</a>
			</br></br>
			<b class="titles">Upload date: </b></br>{{game.date}}
			</br></br>
			<b class="titles">Upload by: </b></br>{{game.nameUser}}
			</br></br>
			<b class="titles">Average rating: </b></br>
			<div class="stars">
				<input class="star star-1" id="{{game.key.id()}}star-5" type="radio" name="{{game.key.id()}}" value="5"/>
				<label class="star star-1"></label>
				<input class="star star-2" id="{{game.key.id()}}star-4" type="radio" name="{{game.key.id()}}" value="4"/>
				<label class="star star-2"></label>
				<input class="star star-3" id="{{game.key.id()}}star-3" type="radio" name="{{game.key.id()}}" value="3"/>
				<label class="star star-3"></label>
				<input class="star star-4" id="{{game.key.id()}}star-2" type="radio" name="{{game.key.id()}}" value="2"/>
				<label class="star star-4"></label>
				<input class="star star-5" id="{{game.key.id()}}star-1" type="radio" name="{{game.key.id()}}" value="1"/>
				<label class="star star-5"></label>
			</div>
			<script type="text/javascript">
			    document.getElementById( "{{game.key.id()}}star-{{mean}}" ).checked = true;
			</script>
			</br></br></br>
			{% if game.user == iduser %}
				<a href="/update?id={{game.key.urlsafe()}}"><img width="16px" height="16px" title="Modify game" class="button" src="/img/update.svg"/></a>
				<a href="/remove?id={{game.key.urlsafe()}}"><img width="16px" height="16px" title="Delete game" class="button" src="/img/remove.svg"/></a>
			{% endif %}
			</div>
		</div>
		<div id="comment">
			<a href="/addcomment?id={{game.key.urlsafe()}}"><button class="buttontext">Add comment</button></a>
			</br></br>
		</div>
		{% for comment in comments %}
		<div class="gameform">
			<b class="titles">Upload by: </b></br>{{comment.nameUser}}
			</br></br>
			<b class="titles">Comment: </b></br>{{comment.comment}}
			</br></br>
			<b class="titles">Played hours: </b></br>{{comment.numHours}}
			</br></br>
			{% if comment.finished == True %}
			<b class="titles">Finished: </b></br>Yes
			{% else %}
			<b class="titles">Finished: </b></br>No
			{% endif %}
			</br></br>
			<b class="titles">Rating: </b></br>
			<div class="stars">
				<input class="star star-1" id="{{comment.key.id()}}star-5" type="radio" name="{{comment.key.id()}}" value="5"/>
				<label class="star star-1"></label>
				<input class="star star-2" id="{{comment.key.id()}}star-4" type="radio" name="{{comment.key.id()}}" value="4"/>
				<label class="star star-2"></label>
				<input class="star star-3" id="{{comment.key.id()}}star-3" type="radio" name="{{comment.key.id()}}" value="3"/>
				<label class="star star-3"></label>
				<input class="star star-4" id="{{comment.key.id()}}star-2" type="radio" name="{{comment.key.id()}}" value="2"/>
				<label class="star star-4"></label>
				<input class="star star-5" id="{{comment.key.id()}}star-1" type="radio" name="{{comment.key.id()}}" value="1"/>
				<label class="star star-5"></label>
			</div>
			<script type="text/javascript">
			    document.getElementById( "{{comment.key.id()}}star-{{comment.punctuation}}" ).checked = true;
			</script>
			</br></br></br></br>
			{% if comment.user == iduser %}
			<a href="/updatecomment?id={{comment.key.urlsafe()}}">
				<img width="16px" height="16px" title="Modify comment" class="button" src="/img/update.svg"/></a>
			<a href="/removecomment?id={{comment.key.urlsafe()}}">
				<img width="16px" height="16px" title="Delete comment" class="button" src="/img/remove.svg"/></a>
			{% endif %}
		</div>
		{% endfor %}
	</body>
</html>
