<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css">
		<title>Game Review</title>
	</head>
	<header>
		<div class="headercontent">
			<a  href="/img"><img id="logo" src="./res/logo.png"></a>
		</div>
		<div class="headercontent">
			<a id="indexlink" href="/img">Game Review</a>
		</div>
		<div class="headercontent">
			{% if user_name == "Please login" %}
				<a id="loginlink" href="{{access_link}}">Login</a>
			{% else %}
				<div class="profile">
					<ul id="nav">
						<div class="menu">{{user_name}}</br>▼
							<ul>
								<div class="submenu"><a href="/usergames">My games</a></div>
								<div class="submenu"><a href="{{access_link}}">Logout</a></div>
							</ul>
						</div>
					</ul>
				</div>
			{% endif %}
		</div>
	</header>
	<body>
		<div class="title">
			<p class="tittletext">Error</p>
		</div>
		<div id="error">
			{{msg}}
		</div>
		<div id="login">
			<a href="/img" id="loginlink2">Click here to return to the home page</a>
		</div>
	</body>
</html>
