<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../css/style.css">
	<title>Game Review</title>
</head>
<header>
	<div class="headercontent">
		<a  href="/"><img id="logo" src="./img/logo.png"></a>
	</div>
	<div class="headercontent">
		<a id="indexlink" href="/">Game Review</a>
	</div>
	<div class="headercontent">
		{% if user_name == "Please login" %}
			<a id="loginlink" href="{{access_link}}">Login</a>
		{% else %}
			<div class="profile">
				<ul id="nav">
  	        		<div class="menu">{{user_name}}</br>▼
                		<ul>
							<div class="submenu"><a href="/usergames">My games</a></div>
							<div class="submenu"><a href="{{access_link}}">Logout</a></div>
              			</ul>
  	        		</div>
  	      		</ul>
			</div>
		{% endif %}
	</div>
</header>
<body>
	{% if user_name == "Please login" %}
		<div id="login">
			</br>
			<a id="loginlink2" href="{{access_link}}">Please login to see the content</a>
		</div>
	{% else %}
		<div class="games">
			{% for game in games %}
				<div class="game">
					<div class="gameimg">
						<a href="/details?id={{game.key.urlsafe()}}"><img class="img" src="{{game.picture}}"></a>
					</div>
					<div class ="gamedescription">
						<b class="titles">Name:</b>
						<a class="link" href="/details?id={{game.key.urlsafe()}}">{{game.name}}</a></br>
						<b class="titles">Company:</b>
						{{game.company}}</br>
						<b class="titles">Upload date:</b>
						{{game.date}}</br>
						<b class="titles">Web:</b>
						<a class="link" target="_blank" href="{{game.web}}">{{game.web}}</a></br>
						{% if game.user == iduser %}
						<a href="/update?id={{game.key.urlsafe()}}"><img width="16px" height="16px" title="modify" class="button" src="/img/update.svg"/></a>
						<a href="/remove?id={{game.key.urlsafe()}}"><img width="16px" height="16px" title="delete" class="button" src="/img/remove.svg"/></a>
						{% endif %}
					</div>
				</div>
				<br/>
			{% endfor %}
		</div>
	{% endif %}
</body>
</html>