<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css">
		<title>Game Review</title>
	</head>
	{% include '/views/header.html' %}
	<body>
		<div class="games">
			{% for game in games %}
				<div class="game">
					<div class="gameimg">
						<a href="/details?id={{game.key.urlsafe()}}"><img class="img" src="{{game.picture}}"></a>
					</div>
					<div class ="gamedescription">
						<b class="titles">Name:</b>
						<a class="link" href="/details?id={{game.key.urlsafe()}}">{{game.name}}</a></br></br>
						<b class="titles">Upload by:</b>
						{{game.nameUser}}</br></br>
						<b class="titles">Upload date:</b>
						{{game.date}}</br></br>
						{% if game.user == iduser %}
						<a href="/update?id={{game.key.urlsafe()}}"><img width="16px" height="16px" title="modify" class="button" src="/img/update.svg"/></a>
						<a href="/remove?id={{game.key.urlsafe()}}"><img width="16px" height="16px" title="delete" class="button" src="/img/remove.svg"/></a>
						{% endif %}
					</div>
				</div>
				<br/>
			{% endfor %}
		</div>
	</body>
</html>