<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../css/style.css">
		<title>Game Review</title>
		<script type="text/javascript">
			function hideError() {
				document.getElementById( "dvError" ).style.display = "none";
			}

			function showError(msg) {
				var dvError = document.getElementById( "dvError" );
				var pError = document.createElement( "p" );

				dvError.innerHTML = "";
				dvError.appendChild( pError );
				pError.appendChild( document.createTextNode( msg ) );
				dvError.style.display = "block";
			}

			function validate() {
				var edComment = document.getElementById( "edComment" );
				var edHours = document.getElementById( "edHours" );
				var edPunctuation = document.getElementById( "edPunctuation" );
				finished = document.getElementsByName("finished");

				hideError();

				var seleccionado = false;
				for(var i=0; i<finished.length; i++) {
				  if(finished[i].checked) {
					seleccionado = true;
					break;
				  }
				}

				if(!seleccionado) {
				    showError( "ERROR: You must to indicate if game is finished or no" );
				    return false;
				}

				if ( edComment.value.trim().length == 0 ) {
					showError( "ERROR: You must to introduce a comment" );
					return false;
				}

				if ( edHours.value.trim().length == 0 ) {
					showError( "ERROR: You must to introduce the played hours" );
					return false;
				}

				if ( edPunctuation.value.trim().length == 0 ) {
					showError( "ERROR: You must to introduce a punctuation" );
					return false;
				}

				if(isNaN(edHours.value)){
				    showError( "Played hours must be a number" );
					return false;
				}

				if(isNaN(edPunctuation.value)){
				    showError( "Punctuation must be a number" );
					return false;
				}

				var hours = parseInt( edHours.value, 10 );
				var punctuation = parseInt( edPunctuation.value, 10 );

				if ( hours < 1 ) {
					showError( "Played hours must be an integer greater than 0" );
					return false;
				}

				var stars = false;
				for(var i=0; i<star.length; i++) {
				  if(star[i].checked) {
					stars = true;
					break;
				  }
				}

				if(!stars) {
					showError( "ERROR: You must to indicate the punctuation" );
					return false;
				}

				return true;
			}
		</script>
	</head>
	{% include '/views/header.html' %}
	<body>
		<div class="title">
			<p class="tittletext">Modify Comment</p>
		</div>
		<div id="dvError"></div>
		<form class="gameform"
			onsubmit="javascript: return validate();"
			action="/updatecomment?id={{comment.key.urlsafe()}}" method="post">
			Comment: </br><input type="textarea" name="comment" id="edComment" size="80"
					value="{{comment.comment}}">
			</br></br>
			Played hours: </br><input type="text" name="hours" id="edHours" size="80"
					value="{{comment.numHours}}">
			</br></br>
			Game finished: </br>Yes<input type="radio" name="finished" value="yes"/>
			No<input type="radio" name="finished" value="no"/>
			</br></br>
			Rating: </br>
			<div class="stars">
				<input class="star star-1" id="star-1" type="radio" name="star" value="5"/>
				<label class="star star-1" for="star-1"></label>
				<input class="star star-2" id="star-2" type="radio" name="star" value="4"/>
				<label class="star star-2" for="star-2"></label>
				<input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
				<label class="star star-3" for="star-3"></label>
				<input class="star star-4" id="star-4" type="radio" name="star" value="2"/>
				<label class="star star-4" for="star-4"></label>
				<input class="star star-5" id="star-5" type="radio" name="star" value="1"/>
				<label class="star star-5" for="star-5"></label>
			</div>
			</br></br></br></br>
			</br></br>
				<input type="image"
					class="button"
					title="modify" alt="modify"
					width="16px" height="16px" src="/img/update.svg"
					onsubmit="javascript: document.gameform.submit()"/>
		</form>
	</body>
</html>
